@mixin vertical-align($position: relative, $top: 50%) {
	position: $position;
	top: $top;
	transform: translateY(-$top);
}

@mixin center($position: relative, $top: 50%, $left: 50%) {
	position: $position;
	top: $top;
	left: $left;
	transform: translate(-$left, -$top);
}

@mixin one-sided-shadow($offset-x: 0, $offset-y: 5px, $blur: 5px, $spread: -4px, $color: rgba(0, 0, 0, 0.4) ) {
	box-shadow: $offset-x $offset-y $blur $spread $color;
}

@mixin one-sided-hover($offset-x: 0, $offset-y: 0px, $blur: 2px, $spread: 1px, $color: rgba(0, 0, 0, 0.3) ) {
	box-shadow: inset $offset-x $offset-y $blur $spread $color;
}

@mixin inner-border($ofx: 0, $ofy: 2px, $expand: 5px, $spread: 8px, $inset: 10px, $col: rgba(0, 0, 0, 0.5)) {
    box-shadow:  0 0 0 1px #d9d9d9,
        0 0 0 $inset white,
        $ofx $ofy $expand $spread $col;

}

@mixin locked($position: relative, $top: $top-bar-height) {
	.stick & {
		position: $position;
		top: $top;
	}
}

@mixin toggle-offscreen($property: all) {
	transition: $property 0.5s ease-in-out;
}

@mixin toggle-fullscreen() {
	@include toggle-offscreen();
    &.full-screen {
        width: 100%;
        margin-left: 0;
    }
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}