@mixin vertical-align($position: relative, $top: 50%) {
	position: $position;
	top: $top;
	transform: translateY(-$top);
}

@mixin center($position: relative, $top: 50%, $left: 50%) {
	position: $position;
	top: $top;
	left: $left;
	transform: translate(-$left, -$top);
}

@mixin one-sided-shadow($offset-x: 0, $offset-y: 5px, $blur: 5px, $spread: -4px, $color: rgba(0, 0, 0, 0.4) ) {
	box-shadow: $offset-x $offset-y $blur $spread $color;
}

@mixin one-sided-hover($offset-x: 0, $offset-y: 0px, $blur: 2px, $spread: 1px, $color: rgba(0, 0, 0, 0.3) ) {
	box-shadow: inset $offset-x $offset-y $blur $spread $color;
}

@mixin inner-border($ofx: 0, $ofy: 2px, $expand: 5px, $spread: 8px, $inset: 10px, $col: rgba(0, 0, 0, 0.5)) {
    box-shadow:  0 0 0 1px #d9d9d9,
        0 0 0 $inset white,
        $ofx $ofy $expand $spread $col;
}

@mixin grid-shadow($ofx: 0, $ofy: 2px, $expand: 5px, $col: rgba(0, 0, 0, 0.3)) {
    box-shadow: $ofx $ofy $expand $col;
}

@mixin locked($position: relative, $top: $top-bar-height) {
	.stick & {
		position: $position;
		top: $top;
	}
}

@mixin toggle-offscreen($property: all) {
	transition: $property 0.5s ease-in-out;
}

@mixin text-hover() {
	&:hover {
		text-decoration: underline;
	}
}

@mixin toggle-fullscreen() {
	@include toggle-offscreen();
    &.full-screen {
        width: 100%;
        margin-left: 0;
    }
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin rounded-tab($radius: 0) {
    border-radius: $radius;
    background-color: rgba(230, 230, 230, 0.5);
}



/* custom icon for list/gird/favs */
@mixin content-type($length: 40px) {
    width: $length;
    height: $length;
    margin: 1rem;
    text-align: center;

    // custom icon
    .content-custom {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        @include vertical-align();
    }

    .filetypes,
    .glyphicon {
        font-size: 2rem;
        color: #ccc;
        @include vertical-align(); 
    }
    .filetypes {
        &.filetypes-pdf {
            @include svg_sprite(filetypes_pdf);
        }
        &.filetypes-ppt {
            @include svg_sprite(filetypes_ppt); 
        }
        &.filetypes-zip {
            @include svg_sprite(filetypes_zip);
        }
    }
}

