
$max-width: 1366px;
$gutter: 1.5rem;
$top-bar-height: 50px;
$reader-blue: #4d808b;

$desktop-width: 1024px;
$tablet-portait-width: 768px;
$mobile-width: 480px;
$mobile-width-sm: 320px;

/* content card diemnstion */
$card-width: 300px;
$card-height: 250px;



