.container {
    padding: 0;
    margin: 0;
}
#filters {
    position: absolute;
    background-color: #fff;
    width: $filter-width;
    float: left;
    top: 269px;
    left: 0;
    z-index: 999;
    @include toggle-offscreen($property: left);
    @include locked($position: fixed, $top:101px);
    @include opensans($size: 1.4rem);
    color: #484848;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;

    &.off-screen {
        left: -$filter-width;
    }

    .filters-selected {
        position: relative;
        .remove-all-filters {
            position: relative;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        .selected-filters {
            position: relative;
            margin: 0 0 1rem 2rem;
            line-height: 1.2;
            cursor: pointer;
        }
    }

    /* .filter-item {
        //overflow: hidden;
        //cursor: pointer;
        //margin-bottom: 0.5rem;
        //max-height: 200px;
        //transition: all 0.4s ease-in-out;

        &.collapsed {
            //max-height: 36px;
            //transition: none;
            .glyphicon {
                transition: all 0.2s ease-in-out;
                transform: rotate(90deg);
            }
        }
    } */

    .filter-item-cat {
        position:relative;
        @include opensans($size: 1.6rem, $weight: 600);
        color:  $reader-blue;
        background-color: #fff;
        margin: 1rem 0;

        &.collapsed {
            .glyphicon {
                transition: all 0.2s ease-in-out;
                transform: rotate(-90deg);
            }
        }

        .glyphicon {
            position: absolute;
            right: 0;
            color: #484848;
            font-size: 1rem;
            line-height: 1.4;

        }
    }
    .filter-item-name {
        position:relative;

        &:not(:last-child) {
            margin-bottom: 0.7rem;
        }

        .filter-name {
            margin-left: 0.7rem;
            @include ellipsis();
        }
        .count {
            position: absolute;
            right: 0;
        }
    }
}

/* CARDS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
    position: relative;
    margin-left: $filter-width;
    width: calc(100% - $filter-width);
    @include locked($position: 100px);
    @include toggle-fullscreen();

    ul.card {
        position: relative;
        flex-direction: row;
        //justify-content: space-around;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
        //margin: 0 auto 3rem;
        //max-width: $max-width;
        $card-gutter: 15px;

        .articles {
            width: 100%;
        }


        li.grid-format {
            position: relative;
            margin: auto;
            padding: 0;
            margin: 1rem;
            vertical-align: top;
            text-align: left;
            width: $card-width;
            height: $card-height;
            background: #fafafa;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease-in-out;

            &:hover {
                color: #333;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
                .card-info {
                    opacity: 0.8;
                }
            }

            a.details {
                width: $card-width;
                color: #777;
                transition: 0.1s all;
                text-decoration: none;

                h4 {
                    margin: 5px 0 0;
                    padding: 5px $card-gutter;
                    font-size: 2rem;

                }

                p {
                    margin: 5px 0 12px;
                    padding: 2px $card-gutter;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .card-info {
                        width: 100%;
                        background-color: white;
                        display: block;
                        position: relative;
                        height: 35px;
                        opacity: 0.5;
                    }
                }
            }

            p.cardlinks {
                position: absolute;
                bottom: 0;
                margin: 0;
                padding: 0 $card-gutter;
                width: $card-width;
                display: block;

                .icon-add {
                    float: left;
                    font-size: 4rem;
                    line-height: 1;
                    cursor:pointer;
                }

                .ebook-lnk {
                    float: right;
                    line-height: 3;
                }
            }
        }


        .list-format,
        .listview-head {

            display: flex;
            align-items: center;
            text-align: left;
            margin: 0 auto;
            width: 95%;

            div {
                padding: 0 1rem;
                display: inline-block;
                &.author {
                    flex-grow: 20;
                }

                &.list-title {
                    flex-grow: 49;
                }

                &.ebook {
                    flex-grow: 1;
                }

                &.add-to-list {
                    flex-grow: 1;
                }
            }
        }
        li.list-format {
            display: flex;
            align-items: center;
            text-align: left;
            width: 95%;
            margin: 0 auto;
            padding: 0;
            div {
                padding: 0 1rem;
            }
            a {
                color: transparent;
                width: 87%;
                &.details {
                    div {
                        display: inline-block;
                    }
                }
                .author {
                    width: 31.5%;
                    color: #6f6f6f;
                }

                .list-title {
                    width: 60%;
                    color: $reader-blue;
                    @include athelas($size: 1.8rem, $style: italic, $weight: 400);
                    @include ellipsis();
                }
            }

            .ebook {
                text-align: center;
                width: 50px;
                .ebook-lnk {
                    @include svg-sprite(ebook_icon);
                    @include ie-sprite(ebook_icon);
                    text-indent: -999px;
                    display: block;
                    overflow: hidden;
                }
            }

            .add-to-list {
                width: 90px;
                text-align: center;
                color: $reader-blue;
                font-size: 2rem;
            }
        }

        .list-format {
            @include opensans($size: 1.4rem, $weight: 600);
            min-height: 45px;
            background-color: #fff;
            display: block;
            border-bottom: 1px solid #9e9e9a;
            @include one-sided-shadow($offset-x: 0, $offset-y: 1px, $blur: 1px, $spread: 0px);
        }

        .listview-head {
            @include opensans($size: 1.2rem, $weight: 300);
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }

    // loadmore button
    .load-more-section {

        .loadmore {
            position: relative;
            font-size: 1.2em;
            font-weight: 100;
            letter-spacing: 1px;
            width: 240px;
            height: 50px;
            display: block;
            margin: 0 auto 3rem;
        }
    }
}
@media only screen and (max-width: $tablet-portait-width) {
    #filters {
        top: 269px;
    }
    .content {
        width: 100%;
        margin-left: 0;
    }
}


@media only screen and (max-width: $mobile-width) {
    #filters {
        top: 251px;
    }
    ul.card {
        .listview-head {
            div {
                &.author {
                    flex-grow: 1;
                }
                &.list-title {
                    flex-grow: 8;
                }
                &.ebook,
                &.add-to-list {
                    display: none;
                }
            }

        }
        li.list-format {
            .ebook,
            .add-to-list {
                width: 40px;
            }

            a {
                display: block;

                width: 80%;

                .author {
                    line-height: 1.2;
                }
            }
        }
    }
}







.icon-dl {
    float: right;
    width: 18px;
    padding: 9px 12px;
    opacity: 0.7;
}
.file_preview img {
    max-width: 100%;
    vertical-align: middle;
    /*
    flex-shrink:0;
    min-width:100%;
    min-height:100%;
*/
}
.file_preview {
    width: 100%;
    height: 180px;
    display: flex;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    line-height: 180px;
}
.filetype {
    position: absolute;
    background: url('../images/icon-filetype.png') 50% no-repeat;
    width: $card-width;
    height: 180px;
    display: block;
    opacity: 0.8;
}
/* MODAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.asset-action {
    color: #777;
    height: 40px;
    line-height: 50px;
}
.downloads {
    padding: 20px;
}
.asset-action button {
    float: right;
    margin: 8px 10px;
}

