$gutter: 1.5rem;
$header-text: #f2f2ec;
.header {
    width: 100%;
    height: 217px;
    position: relative;
    display: block;
    max-width: $max-width;
	margin: 0 auto;

	.cover {
    	width: 100%;
    	height: 217px;
	    background: url("/images/header.jpg") no-repeat;
	    display: block;
	    //box-shadow: inset 0px -50px 40px -40px rgba(0, 0, 0, 0.3);
	    opacity: 1;
	}

	// flattened
	.top-bar {
	    width: 100%;
    	max-width: $max-width;
	    background: rgba(145,188, 197, 0.8);
	    height: 50px;
	    position: fixed;
	    z-index: 22;
	    @include one-sided-shadow();

	    .container.stick & {
	    	@include one-sided-shadow($offset-y: 1px);
    	}

		.norton-logo {
			@include svg-sprite(norton_logo);
			@include ie-sprite(norton_logo);
			@include vertical-align(absolute);
		    margin-left: $gutter;
	    	float: left;
		}

	    .header-title {
			@include vertical-align(relative);
	    	display: block;
	    	float: left;
	    	margin-left: 7.4rem;
			a {
				@include athelas($size: 2.4rem);
			    color: $header-text;
			    letter-spacing: 1px;
			}	
	    }

	    .header-label {
			@include vertical-align(relative);
	    	display: block;
	    	margin-left: 2rem;
	    	float: left;
	    	a {
				@include opensans($size: 1.4rem, $weight: 600);
				text-transform: uppercase;
			    color: $header-text;
	    	}
	    }

	    .links {
			@include vertical-align(absolute);
			float: right;
			margin-right: $gutter;
	    	right: 0;
	    	a {
				@include opensans($size: 1.4rem, $weight: 600);
			    color: $header-text;
    			&:hover {
    				text-decoration: none;
    			}
	    		&:before {
	    			content: '|';
	    			margin-right: 0.5rem;
	    			margin-left: 0.2rem;
	    			font-size: 0.1;
	    		}
	    		&:first-child {
	    			&:before {
	    				content: '';
	    			}
	    		}
	    	}
	    }

		.my-account {
		    position: absolute;
		    top: 12px;
		    right: 10px;
		    color: rgb(255, 255, 255);
		    letter-spacing: 1px;
		    opacity: 0.8;
		    font-weight: 400;
		    display: -webkit-box;
		    display: -moz-box;
		    display: -ms-box;
		    //display: box;
		    cursor: pointer;
		}
		.my-account a {
		    color: white;
		    opacity: 0.9;
		}
		.my-account a:hover {
		    color: white;
		    opacity: 1;
		}
		.my-account span {
		    /* font-family:'Glyphicons Regular'; */
		    margin: 0px 10px 0 0px;
		    /* position: absolute; */
		    font-size: 1.3em;
		}
		.my-account h6 {
		    display: block;
		}
	}
}
	.title {
	    top: 45%;
	    display: table;
	    margin: 0 auto;
	    width: 400px;
	    color: #003A4C;
	    font-size: 3em;
	    font-weight: 700;
	    letter-spacing: 1px;
	    line-height: 1em;
	    background-color: #FFFFFF;
	    padding: 20px 35px;
	    position: relative;
	    text-align: center;
	    transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    transition: all 0.3s;

	  	&.sticky {
			top: 24px;
			color: #FDFEFE;
			position: fixed;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transition: all 0.3s;
			z-index: 222;
			width: 500px;
			left: 0;
			right: 0;
			background-color: transparent;
			opacity: 0.9;
		}

		&:after {
			content: "This content should not be in a Stylesheet";
			background: #BDD538;
			color: #003A4C;
			position: absolute;
			font-size: 50%;
			display: block;
			margin-top: 14px;
			padding: 0 30px;
			opacity: 0.8;
			right: 0;
			left: 0px;
			text-transform: uppercase;
			letter-spacing: 0px;  
		}
	}