

// flattened
.modal-dialog {
	width: 770px;
	height: 740px;
}
.modal-content {
	position: relative;
	border-radius: 0;
	border: none;
	width: 100%;
	height: 100%;
}

/* generic */
.modal-header {
	@include opensans($size: 1.8rem);
	border: 1px solid $reader-blue;
	.close {
		margin: 0;
		opacity: 1;
		font-size: inherit;
	}
	& > div {
		display: inline-block;
		&.modal-author {
			margin-right: 2rem;
		}
	}
}
.modal-body {
}

/* favorites */
.modal-container {
	height: 100%;
	&.favorites {
		@include opensans($size: 1.4rem);
		position: relative;

		.modal-header {
			background-color: #000;
			border: none;
			color: #fff;
			
			.close {
				color: inherit;
			}
		}

		.empty-list {
			text-align: center;
			font-size: 1.8rem;
			margin-top: 5rem;
		}

		.download-favs {
			position: absolute;
			width: 100%;
			text-transform: uppercase;
			text-align: center;
			line-height: 1.4;
			bottom: 4rem;

			.glyphicon {
				margin-left: 1.3rem;
			}
		}

		.list-format {
			width: 98%;
			margin: 0 auto;
			padding: 1rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		    align-items: center;
		    align-content: center;
		    min-height: 4.5rem;
		    @include  one-sided-shadow($offset-y: 1px, $blur: 1px, $spread: 0px);

			.author {
				@include opensans($size: 1.4rem, $weight: 600);
				color: #6f6f6f;
				text-transform: uppercase;
				flex-grow: 1; /* flex to fill rest of available space */
    			min-width: auto;
			}

			.title {
				@include athelas($size: 1.6rem, $style: italic, $weight: 700);
				color: $reader-blue;
				flex-grow: 1; /* flex to fill rest of available space */
    			min-width: auto;
			}
			.remove {
				cursor: pointer;
			}
		}
	}
}
/* end favorites */


/* details page */
.loading-container {
	@include vertical-align();
	text-align: center;
	@include opensans($size: 1.4rem);
}

.loading-graphic {
	@include svg-sprite(loading_spinner);
	animation: rotate-360 0.8s infinite steps(12, end);
}
.modal-subheader {
	position: relative;
	float: right;
	right: 7rem;
	
	.savelist-lnk {
		margin-right: 1.2rem;
	}
}

.modal-arrow-container {
	@include vertical-align();
	margin: 1rem;
	font-size: 3rem;
	color: #666;
	cursor: pointer;
	
	&.prev-page {
		position: absolute;
		float: left;
		left: 0;
	}
	&.next-page {
		position: absolute;
		float: right;
		right: 0;
	}
}
/* end details page */