<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@@title</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- site css -->
        <!-- build:css -->
        <!-- endbuild -->
        <!-- end site css -->

        @@include('../modules/typekit.html')
        @@include('../modules/gtm.html')

        <!-- site javascrsipt -->
        <!-- build:js -->
        <!-- endbuild -->
        <!-- end site javascrsipt -->

    </head>
    <body>