    <div class="modal-arrow-container next-page">
        {{#if nextId}}
            <div class="glyphicon glyphicon-chevron-right modal-arrow" id="nextArticle" data-next-id="{{nextId}}" data-id="{{id}}"></div>
        {{/if}}
    </div>