# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
gulptmp
deploy/iig_dev
deploy/iig_prod
deploy/nr_dev
deploy/nr_prod

# dependencies
node_modules
bower_components

# misc
.idea
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# vagrant
.vagrant
