# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
gulptmp
iig_dev
iig_qa
iig_prod
nr_dev
nr_qa
nr_prod
develop/app_nr/js/dynamic/constants.js

# dependencies
node_modules
bower_components

# misc
.gitignore.swp
.idea
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# vagrant
.vagrant
