	{{#if allMeta.thumbnail}}
	<div class="content-thumbnail" data-pname="{{allMeta.pname}}"><img src="{{HBContentSignedUrl allMeta.thumbnail}}"><span class="glyphicon glyphicon-play-button"></span></div>
	{{/if}}