    {{#if allMeta.thumbnail}}
    <div class="content-thumbnail {{#if allMeta.thumbnailVideo}}has-video{{/if}}" data-pname="{{allMeta.pname}}"><img src="{{HBContentSignedUrl allMeta.thumbnail}}">{{#if allMeta.thumbnailVideo}}<span class="glyphicon glyphicon-play-button"></span>{{/if}}</div>
    {{/if}}