<div class="sortby"><span>Sort By</span>
    <select id="sortArticles" name="sort">
        <option value="title:Ascending">Title of Work: A&rightarrow;Z</option>
        <option value="title:Descending">Title of Work: Z&rightarrow;A</option>
    </select>
</div>