<div id="navYourFavs" class="saved-items">
    <a href="#/favs/" class="your-favs-link">
        <span class="glyphicon glyphicon-list-alt"></span> 
        <span class="my-items">Saved </span><span id="yourFavsCtr" class="counter">0</span>
    </a>
</div>