<div class="listview-head">
    <div class="list-author">author</div>
    <div class="list-title">title</div>
	{{#HBFullVersion fullVersion}}
    <div class="ebook">ebook</div>
	{{/HBFullVersion}}
    <div class="savelist">add to list</div>
</div>