<div class="modal-container">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
		<div class="modal-title">
        	<span id="yourFavsTitle" class="your-favs-text-entry" contenteditable="true">Your saved list</span><span class="glyphicon glyphicon-pencil">
    	</div>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
    {{#if hasContent}}
        <div class="button-container">
            <button data-type="reader-button" class="download-csv"><a href="#" data-filename="Your saved list" data-type="csv">Download .csv<span class="glyphicon glyphicon-download-alt"></a></button>
        </div>
    {{/if}}
    </div>
</div>