<div class="modal-container">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
		<div class="modal-title">
        	<span id="yourFavsTitle" class="your-favs-text-entry" contenteditable="true">Saved List</span><span class="glyphicon glyphicon-pencil">
    	</div>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
    {{#if hasContent}}
        <div class="button-container">
            <a href="#" data-type="csv" class="download-csv"><button data-type="reader-button">Download .csv<span class="glyphicon glyphicon-download-alt"></button></a>
        </div>
    {{/if}}
    </div>
</div>