

.page-footer {
    padding: 0 4rem;
    position: relative;

    &.sticky {
    	margin: 50vh auto 0;
    }

	.footer {
	    height: 75px;
	    display: block;
	    text-align: center;
	    width:100%;
	}
}