
@keyframes rotateX {
	from {
		transform:rotateX(0deg);
	}	
	to {
		transform:translateY(25px) rotateX(-90deg) translateY(-25px);
	}
}

@keyframes bottomRot {
	from {
		opacity: 0;
	}	
	to {
		opacity: 1;
	}
}

@keyframes rotateXR {
	from {
		transform:rotateX(-90deg);
	}	
	to {
		transform:rotateX(0deg);
	}
}

$header-text: #f2f2ec;
.header {
    width: 100%;
    height: 217px;
    position: relative;
    display: block;
	margin: 0 auto;


	.cover {
    	width: 100%;
    	height: 217px;
	    //background: url("/images/header.jpg") no-repeat;
	    display: block;
	    //box-shadow: inset 0px -50px 40px -40px rgba(0, 0, 0, 0.3);

		.stick & {
			position: fixed;
			top: -167px;
			z-index: 99;
		}

		.header-bg {
			width: 100%;
			height: 100%;
			//background-size: cover;

		    //min-width: 1024px;
		    top: 0;
		    left: 0;
		    background: url("/images/header.jpg") top/cover no-repeat;
			//max-width: $max-width;
		}
	}

	// flattened
	.top-bar {
	    width: 100%;
	    background: transparent;
    	height: $top-bar-height;
	    position: fixed;
	    z-index: 99;
	    top: 0;
    	perspective: 800;

	    .stick & {
	    	@include one-sided-shadow($offset-y: 1px);
    	}

    	.bg {
    		position: absolute;
   			transform-style: preserve-3d;
   			width: 100%;
			height: $top-bar-height;
    		transition: all 1s;
			opacity: 0;


    		.front {
    			position: absolute;
   				width: 100%;
    			height: $top-bar-height;
    			background-color: #ccc;
    			transform: rotateX(90deg) translateY(-25px);
    		}

    		.bottom {
    			position: absolute;
   				width: 100%;
    			height: $top-bar-height;
    			background-color: #999;
    			transform:rotateX(0deg) translateY(25px);
    			opacity: 0;

    			.stick & {
    				animation: fade-in 0.5s ease-in-out;
    			}
    		}

    		.stick & {
    			opacity: 1;
    			animation: rotateX 0.5s ease-in-out;
    			animation-fill-mode: forwards;
    		}
    	}

		.norton-logo {
			@include svg-sprite(norton_logo);
			@include ie-sprite(norton_logo);
			@include vertical-align(absolute);
		    margin-left: $gutter;
	    	float: left;
	    	z-index: 999;
		}

	    .header-title {
			@include vertical-align(relative);
	    	display: block;
	    	float: left;
	    	margin-left: 7.4rem;
			a {
				@include athelas($size: 2.4rem);
			    color: $header-text;
			    letter-spacing: 1px;
			    text-decoration: none;
			}
	    	z-index: 999;	
	    }

	    .header-label {
			@include vertical-align(relative);
	    	display: block;
	    	margin-left: 2rem;
	    	float: left;
	    	a {
				@include opensans($size: 1.4rem, $weight: 600);
				text-transform: uppercase;
			    color: $header-text;
	    	}
	    }

	    .links {
			@include vertical-align(absolute);
			float: right;
			margin-right: $gutter;
	    	right: 0;
	    	a {
				@include opensans($size: 1.4rem, $weight: 600);
			    color: $header-text;
    			&:hover {
    				text-decoration: none;
    			}
	    		&:before {
	    			content: '|';
	    			margin-right: 0.5rem;
	    			margin-left: 0.2rem;
	    			font-size: 0.1;
	    		}
	    		&:first-child {
	    			&:before {
	    				content: '';
	    			}
	    		}
	    	}
	    }

		.my-account {
		    position: absolute;
		    top: 12px;
		    right: 10px;
		    color: rgb(255, 255, 255);
		    letter-spacing: 1px;
		    opacity: 0.8;
		    font-weight: 400;
		    cursor: pointer;
		}
		.my-account a {
		    color: white;
		    opacity: 0.9;
		}
		.my-account a:hover {
		    color: white;
		    opacity: 1;
		}
		.my-account span {
		    /* font-family:'Glyphicons Regular'; */
		    margin: 0px 10px 0 0px;
		    /* position: absolute; */
		    font-size: 1.3em;
		}
		.my-account h6 {
		    display: block;
		}
	}
}
.title-screen {
	width: 480px;
	height: 144px;
	@include center(absolute);
	top: 63%;
	transition: all 0.2s;

	.stick & {
		opacity: 0;
	}

	.title-head {
		@include athelas($size: 4.8rem);
		@include vertical-align($position: absolute, $top: 47%);
		color: #000;
		width: 100%;
		text-align: center;
	}

  	/* &.sticky {
		top: 24px;
		color: #FDFEFE;
		position: fixed;
		transition: all 0.3s;
		z-index: 222;
		width: 500px;
		left: 0;
		right: 0;
		background-color: transparent;
		opacity: 0.9;
	} */

	svg {
		//width: 480px;
		//height: 144px;
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: $tablet-landspace-width) {
	.title-screen {
		width: 400px;

		.title-head {
			font-size: 4rem;
			top: 42%;
		}
	}
}

@media only screen and (max-width: $tablet-portait-width) {
	.header {
		.top-bar {
			.links,
			.header-title {
				display: none;
			}

			.header-label {
				margin-left: 7rem;
				a {
					line-height: 1;
				}
			}
		}
	}
}

@media only screen and (max-width: $mobile-width) {
	.header {
		.cover {
			height: 50vw;
		}
	}
	.title-screen {
		width: 94%;

		.title-head {
			font-size: 9.5vw;
			top: 14vw;
		}
	}
}

@media only screen and (max-width: $mobile-width-sm) {
	.title-screen {
		width: 280px;

		.title-head {
			font-size: 3rem;
			top: 29%;
		}
	}
}