
// flattened
.modal-dialog {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.modal-content {
	border-radius: 0;
	border: none;
	box-shadow: none;
	background: transparent;
	height: inherit;
}
.modal-container {
	position: relative;
	height: inherit;
}
.modal-arrow-container {
	top: 35vh;
	margin: 1rem;
	font-size: 3rem;
	color: $dark-grey;
	cursor: pointer;
	z-index: 999;
	
	&.prev-page {
		position: absolute;
		float: left;
		left: 0;
	}
	&.next-page {
		position: absolute;
		float: right;
		right: 0;
	}
}
.modal-header {
	@include opensans($size: 1.8rem, $height: 2rem);
	border: none;
	text-align: left;
	background-color: $black;
	color: $white;
	height: $modal-header-height;

	.close {
		margin: 0;
		opacity: 1;
		line-height: inherit;
		font-size: 2.3rem;
		color: $white;
		text-shadow: none;

		.glyphicon {
			line-height: inherit;
			top: 0;
		}
	}
	
	& > div {
		display: inline-block;
		&.modal-author {
			margin-right: 2rem;
		}
	}
}

.modal-body {
	height: inherit;
	padding: 0 5rem 2rem;
	@include opensans($size: 1.8rem, $height: 1.4);

	p {
		strong {
			color: $dark-grey;
		}
	}
}
.modal-footer {
	padding: 1.5rem 5rem;
	text-align: left;
}
/* modal specific */
#modal-container {
	.modal-body {
		min-height: 600px;
	}
	.modal-dialog {	
		margin: 4rem auto 0;		
		width: 768px;
		height: 600px;
		background-color: #fff;

		@include opensans($size: 1.4rem);

		&[data-module=credits] {
			.credits {
				margin: 3rem auto 0;
				text-align: center;
				span {
					display: inline-block;
					margin-bottom: 1rem;
					font-size: 1.6rem;
				}
			}
		}

		&[data-module=errors],
		&[data-module=details] {
			width: 768px;
			min-height: 738px;
			height: auto;
			position: relative;
			text-align: left;

			//@include content-link();

			/* generic content style override */
			p {
				padding: 0;
			}

			span {
				margin-right: 1rem;
			}

			table {
				width: 100%;
			}

			/* end generic content style override */
			.modal-title {
				@include athelas($size: 2rem, $height: 1.1, $style:italic, $weight: 400);
				width: 90%;
				@include ellipsis();
			}

			.loading-container {
				top: 300px;
			}

			.modal-body {
				position: relative;
				text-align: left;
				@include opensans($size: 1.5rem, $height: 1.4);

				// embedded image
				img {
					max-width: 100%;
					height: auto;
				}
			}

			.header-img {
				margin-top: 2rem;
				display: block;
				max-width: 100%;
			}

			.utils {
				margin: 3rem 0;
				text-align: right;
				font-weight: 600;

				span {
					font-size: 1.2rem;

					&.button-label {
						margin-left: 1rem;
					}
				}

				.savelist-lnk {

					.glyphicon {
						line-height: 4rem;
						font-size: 1.5rem;
						color: $dark-grey;
						top: 0;
					}
				}

				.download {
					margin-left: 1rem;

					a:focus,
					a:hover {
						text-decoration: none;
					}
				}
			}

			.meta {
				position: relative;
				font-size: 1.4rem;
				clear: both;

				span {
					line-height: 2.5rem;
				}

				&.pushed {
				}
			}

			.about-author {
				font-size: 1.8rem;
				margin-top: 1rem;
				font-weight: 600;
			}
			.author-bio {
				& + p {
					font-size: 1.4rem;
					line-height: 1.6;
				}
			}

			.moreinfo-lnk {
				margin: 1rem 6rem 3rem 5rem;
				font-size: 1.2rem;
				font-weight: 600;
				float: right;
				text-transform: uppercase;
			}

			.page-filter {
				font-size: 1.3rem;
				line-height: 1.6;
				margin-bottom: 1rem;
				display: inline-block;
				color: $dark-grey;

				strong {
					font-weight: 600;
				}
			}
		}

		&[data-module=errors] {
			.modal-body {
				p {
					display: block;
					margin-top: 2rem;
					text-align: center;
				}
			}
		}

		&[data-module=thumbnailVideo] {
			height: auto;
			.modal-body {
				min-height: inherit;
				padding: 0;
			}
			div[data-type="video-player"] {
				margin: 0;
				border: none;
				padding-top: 71%;
			}
		}

		&[data-module=favorites] {
			min-height: 600px;
			height: auto;

			.empty-list {
				text-align: center;
				font-size: 1.8rem;
				margin-top: 5rem;
			}

			.modal-footer {
    			text-align: center;
    			border-top: none;
				.remove-all-items {
					border-radius: 0.2rem;
					margin: 0 auto;
				}
			}


			/* .modal-title {
				.glyphicon {
					font-size: 1.6rem;
					line-height: 1.5;
					margin-left: 1rem;
				}
			}

			.modal-body {    
				overflow-y: scroll;
				min-height: 0;
				height: 548px;
			}
			.button-container {
				position: relative;
				margin-top: 1rem;
				height: auto;
				@include clearfix();

				a {
					display: inline-block;
					margin-bottom: 1rem;	
					margin-right: 1rem;	
				}

				.glyphicon {
					line-height: 38px;
					margin-left: 1rem;
				}
			} */

			.list-format {
				width: 98%;
				margin: 0 auto;
				padding: 1rem;
			    min-height: 4.5rem;
			    cursor: move;
			    @include  one-sided-shadow($offset-y: 1px, $blur: 1px, $spread: 0px);

			    display: table;
			    table-layout: fixed;

			    .favs-icon {
			    	display: table-cell;
			    	vertical-align: middle;
            		@include content-type($length:40px);
            		top: inherit;
        		    width: 35px;
					height: 35px;
					padding-right: 0.5rem;

					img {
						max-width: 100%;
    					max-height: 100%;
					}
			    }

				.favs-title {
			    	display: table-cell;
			    	vertical-align: middle;
					@include opensans($size: 1.1rem, $weight: 600, $height: 1.4);

					a {
						color: $dark-grey;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.download,
				.remove {
			    	display: table-cell;
				    cursor: pointer;	
					vertical-align: middle;
					width: 20px;
					padding: 0 2rem 0 1rem;

					span {
						color: $dark-grey;
					}
				}
			}
		}
	}

	div[data-type="intro"] {
		// flattened
		& + p {
			text-align: left;
		}
		margin-bottom: 3rem;
	}

	div[data-type="section"] {
		margin-bottom: 2rem;
	}

	div[data-type="block"] {
		margin-bottom: 2rem;
		text-align: left;

		a {
			color: $black;
		}		

		/* ul {
			list-style-type: disc;
				list-style-position: inside;
				list-style-image: none;
		} */

		[data-type="image"] {
		}

		[data-type="video"] {
			.video-container {
				position: relative;
				margin: 2rem 0;
				width: 100%;
			}
		}	

		[data-type="text only"] {
			p {
				padding: 0;
			}
		}	

		[data-type="custom link"] {
			padding: 0 4rem;
		}

		@include clearfix();
	}
}


/* end modal */
@media only screen and (max-width: $tablet-landspace-width) {
	#modal-container {
		.modal-dialog {

			&[data-module=favorites],
			&[data-module=credits] {
				width: 90%;
			}

			&[data-module=thumbnailVideo],
			&[data-module=errors],
			&[data-module=details] {
				width: 90%;

				.utils {
					margin: 2rem auto;
					text-align: center;

					.savelist-lnk {
						margin: 0 0 1rem 1rem;
					}
				}

				.modal-header {
					min-height: $modal-header-height;
					height: auto;
					padding: 1rem 1.5rem;
					position: relative;

					.close {
						transform: translateY(50%);
					}

					& > div {
						display: block;
						line-height: 1.3;
					}
				}
			}

			&[data-module=thumbnailVideo] {
				div[data-type="video-player"] {
					padding-top: 66%;
				}
			}

			&[data-module=favorites] {
				.modal-body {
					padding: 0;
				}
				.list-format {
					width: 100%;
					padding: 0 1rem;
				}
			}
		}
	}
}

@media only screen and (max-width: $mobile-width) {
	#modal-container {
		.modal-dialog {
			&[data-module=errors],
			&[data-module=details] {

				.moreinfo-lnk {
					margin: 2rem auto;
					display: block;
					float: none;
				}
			}
		}
	}
}
/* $tablet-landspace-width: 1024px;
$tablet-portait-width: 768px;
$mobile-width: 480px;
$mobile-width-sm: 320px; */