<div data-type="{{type}}">
	<h2>{{videoTitle}}</h2>
	<div>{{HBHTMLContent transcript}}</div>
	<div>{{HBHTMLContent blurb}}</div>
	
	{{> HBPageVideoPLayer}}

	<script>
	{{> HBPageJplayer}}
	</script>
</div>