<div data-type="{{type}}">
	<h2>{{videoTitle}}</h2>
	<div>{{HBHTMLContent transcript}}</div>
	<div>{{HBHTMLContent blurb}}</div>
	<div class="video-container">
		<div class="jp-video"></div>
		<div class="playback"></div>
	</div>

	<script>
	{{> HBPageJplayer}}
	</script>
</div>