{{#if videoSrc}}
<div data-type="{{type}}">
	<h2>{{videoTitle}}</h2>
	{{#if transcript}}
		<div>{{HBHTMLContent transcript}}</div>
    {{/if}}
	{{#if blurb}}
		<div>{{HBHTMLContent blurb}}</div>
    {{/if}}
	
	{{> HBJWPlayerMarkup playerID="iig-player"}}

	<script>
	{{> HBJWPlayerScript playerID="iig-player"}}
	</script>
</div>
{{/if}}