{{#if videoSrc}}
<div data-type="{{type}}">
	<h2>{{videoTitle}}</h2>
	{{#if transcript}}
		<div>{{HBHTMLContent transcript}}</div>
    {{/if}}
	{{#if blurb}}
		<div>{{HBHTMLContent blurb}}</div>
    {{/if}}
	
	{{> HBJWPlayerMarkup}}

	<script>
	{{> HBJWPlayerScript}}
	</script>
</div>
{{/if}}