/* path variables */
/* */
$glyphicon: "/fonts/glyphicons-regular";
//$glyphicon: #{glyphicon};

/* design colors */

$white: #ffffff;
$black: #000000;
$light-grey: #eeeeee;
$grey: #d6d6d6;
$dark-grey: #515151;
$blue: #00738b; // Title links
$light-blue: #91bcc5; // Header BG
$tan: #c8b59c; // Shorter Header BG
$offwhite: #f4f4ee;

/* end design colors */

$max-width: 1366px;
$gutter: 1.5rem;
$top-bar-height: 50px;
$reader-blue: #617c7e;

$tablet-landspace-width: 1024px;
$tablet-portait-width: 768px;
$mobile-width: 480px;
$mobile-width-sm: 320px;

$popover-glow: rgba(255, 255, 255, 1);


/* filter panel width */
$filter-width: 280px;

$loading-transform: scale(0.4) translate(-37px, -42px);


$card-width: 290px;
$card-height: 270px;
/* modal */
$modal-header-height: 52px;

/* shared functionality */

.off {
	opacity: 0;
	transition: opacity 1s;
}

@keyframes rotate-360 {
	from {
		transform: scale(0.6) rotate(0deg);
	}	
	to {
		transform: scale(0.6) rotate(360deg);
	}
}

@keyframes lm-rotate-360 {
	from {
		transform: $loading-transform rotate(0deg);
	}	
	to {
		transform: $loading-transform rotate(360deg);
	}
}

@keyframes popover-glow {
    from {
        filter: drop-shadow(0 0 0 $popover-glow);
    }
    to {
        filter: drop-shadow(0 0 3px $popover-glow);
    }
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

button[data-type="reader-button"] {
	position: relative;
	width: 160px;
	height: 42px;
	line-height: 42px;
	padding: 0;
	border-radius: 0;
	margin: 0;

	/* .icon {
		@include vertical-align(absolute);
		left: 1.2rem;
	} */

	a {
		text-decoration: none;
		color: $dark-grey;
	}


	&.ebook-lnk {
		.icon {
			@include svg-sprite(ebook_icon);

		}
	}
}
