
// flattened
.modal-dialog {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.modal-content {
	border-radius: 0;
	border: none;
	box-shadow: none;
	background: transparent;
	height: inherit;
}
.modal-container {
	position: relative;
	height: inherit;
}
.modal-arrow-container {
	@include vertical-align();
	margin: 1rem;
	font-size: 3rem;
	color: #666;
	cursor: pointer;
	z-index: 999;
	
	&.prev-page {
		position: absolute;
		float: left;
		left: 0;
	}
	&.next-page {
		position: absolute;
		float: right;
		right: 0;
	}
}
.modal-header {
	@include opensans($size: 1.8rem, $height: 2rem);
	background-color: $reader-blue;
	border: none;
	color: #fff;
	text-align: left;
	height: $modal-header-height;

	.close {
		margin: 0;
		opacity: 1;
		line-height: 1;
		font-size: 2.3rem;
		color: #fff;
		text-shadow: none;

		.glyphicon {
			line-height: inherit;
			top: -3px;
		}
	}
	
	& > div {
		display: inline-block;
		&.modal-author {
			margin-right: 2rem;
		}
	}
}

.modal-body {
	height: inherit;
	min-height: 600px;
	@include opensans($size: 1.8rem, $height: 1.4);
}
/* modal specific */
#modal-container {
	.modal-dialog {	
		margin: 5.5rem auto 0;		
		width: 768px;
		//height: 600px;
		background-color: #fff;

		@include opensans($size: 1.4rem);

		&[data-module=credits] {

			.modal-body & {
				min-height: 0;
			}

			.credits {
				margin: 1rem auto 0;
				text-align: center;
				h2 {
					font-size: 1.8rem;
					font-weight: 700;
					margin-bottom: 1rem;
				}
				p {
					font-size: 1.2rem;
					line-height: 1.3;

					&:last-of-type {
						margin-bottom: 2rem;
					}
				}
			}
		}

		&[data-module=introduction] {
			width: 990px;
			height: 770px;
			text-align: center;

			.modal-body {
				padding: 3rem 1.5rem;
			}

			.border {
				height: 100%;
				position: relative;
				border: 2px solid #bcbaba;
			}

			.modal-title {
				position: relative;
				margin-top: 2rem;
				@include athelas($size: 4.8rem);
				z-index: 99;
				align-self: flex-start;
			}

			.modal-copy {
				@include opensans($size: 1.7rem);
				text-align: left;
				color: #444;
				position: relative;
				width: 600px;
				line-height: 1.5;
				z-index: 99;
				margin: 4rem auto 0;

				& p {
					padding: 0;
				}
			}

			.modal-links {
				position: absolute;
				float: right;
				right: 2rem;
				bottom: 1rem;

				a {
					margin-left: 1.5rem;
				}
			}

			.intro-bg {
				position: absolute;
				display: block;
				top: 10rem;
			}
		}

		&[data-module=errors],
		&[data-module=details] {
			width: 768px;
			height: auto;
			position: relative;
			text-align: left;

			.modal-body & {
				min-height: 0;
			}

			.modal-title {
				@include athelas($size: 2rem, $style:italic, $weight: 400);
			}

			.loading-container {
				top: 200px;
			}

			.modal-body {
				text-align: left;
			}

			// flattened
			.excerpt {
				& + p {
					text-align: left;
				}
			}

			.modal-utils {
				margin: 3rem 5rem;
				text-align: right;
				font-weight: 600;

				span {
					font-size: 1.2rem;

					&.button-label {
						margin-left: 1rem;
					}
				}

				.savelist-lnk {
					margin-right: 1rem;

					.glyphicon {
						line-height: 4rem;
						font-size: 1.5rem;
						color: $reader-blue;
						top: 0;
					}
				}
			}

			.misc {
				font-size: 1.4rem;
				clear: both;
			}

			p {
				padding: 0 4rem;
			}

			.about-author {
				font-size: 1.8rem;
				margin-top: 1rem;
				font-weight: 600;
			}
			.author-bio {
				& + p {
					font-size: 1.4rem;
					line-height: 1.6;
				}
			}

			.moreinfo-lnk {
				margin: 1rem 6rem 3rem 5rem;
				font-size: 1.2rem;
				font-weight: 600;
				float: right;
				text-transform: uppercase;
			}

			.page-number {
				font-weight: 600;
				clear: both;

				span {
					margin-left: 4rem;
				}
			}
			.page-filter {
				font-size: 1.3rem;
				line-height: 1.6;
				margin-bottom: 1rem;
				display: line-block;
				color: $dark-grey;

				strong {
					font-weight: 600;
				}
			}

			hr {
				color: $light-grey;
				margin: 0 4rem 1rem;
			}
		}

		&[data-module=errors] {
			/* .modal-header {
				background-color: #000;
				border: none;
				color: #fff;
				height: $modal-header-height;
				
				.close {
					color: inherit;
				}
			} */
		}

		&[data-module=favorites] {
			min-height: 600px;
			height: auto;

			.modal-title {
				.glyphicon {
					font-size: 1.6rem;
					line-height: 1.5;
					margin-left: 1rem;
				}
			}

			.modal-body {    
				overflow-y: scroll;
				min-height: 0;
				height: 480px;
			}

			.modal-footer {
				padding: 0;
    			text-align: center;
			}

			.empty-list {
				text-align: center;
				font-size: 1.8rem;
				margin-top: 5rem;
			}

			.button-container {
				position: relative;
				margin-top: 1rem;
				height: auto;
				@include clearfix();

				a {
					display: inline-block;
					margin-bottom: 1rem;	
					margin-right: 1rem;	
				}

				.glyphicon {
					line-height: 38px;
					margin-left: 1rem;
				}
			}

			/* .download-favs {
				position: absolute;
				width: 100%;
				text-transform: uppercase;
				text-align: center;
				line-height: 1.4;
				bottom: 4rem;

				.glyphicon {
					margin-left: 1.3rem;
				}
			} */
			.list-format {
				width: 98%;
				margin: 0 auto;
				padding: 1rem;
			    min-height: 4.5rem;
			    cursor: move;
			    @include  one-sided-shadow($offset-y: 1px, $blur: 1px, $spread: 0px);

			    display: table;
			    table-layout: fixed;

				.list-author {
					@include opensans($size: 1.4rem, $weight: 600);
					color: #6f6f6f;
					text-transform: uppercase;
					width: 30%;
					display: table-cell;
					line-height: 1.8rem;
				}

				.list-title {
					@include athelas($size: 1.8rem, $style: italic, $weight: 400);
	    			width: 60%;
	    			display: table-cell;
					line-height: 1.8rem;

					a {
						color: $reader-blue;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.remove {
				    cursor: pointer;
					display: table-cell;	
					vertical-align: middle;
					width: 20px;

					span {
						color: $dark-grey;
					}
				}
			}
		}
	}

}
/* end modal */
@media only screen and (max-width: $tablet-landspace-width) {
	#modal-container {
		.modal-dialog {

			&[data-module=favorites],
			&[data-module=credits] {
				width: 90%;
			}

			&[data-module=introduction] {
				width: 90%;

				.modal-copy {
					width: 90%;
					text-align: center;
				}

				.intro-bg {
					position: relative;
					width: 95%;
					margin: 0 auto;
					top: 0;
				}
			}

			&[data-module=errors],
			&[data-module=details] {
				width: 90%;

				.modal-header {
					min-height: $modal-header-height;
					height: auto;
					padding: 1rem 1.5rem;
					position: relative;

					.close {
						transform: translateY(50%);
					}

					& > div {
						display: block;
						line-height: 1.3;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $mobile-width) {
	#modal-container {
		.modal-dialog {
			&[data-module=introduction] {
				height: auto;
				
				.modal-body {
    				padding: 1rem;
				}

				.modal-title {
					font-size: 3.5rem;
				}
				.modal-copy {
					font-size: 1.5rem;
				}
				.modal-links {
					position: relative;
					float: none;
					right: 0;
					margin: 0 auto;

					a,
					a:hover {
						text-decoration: none;
					}

					button {
						width: 170px;
						display: block;
						margin: 0 auto;
					}
				}
			}

			&[data-module=errors],
			&[data-module=details] {
				.modal-utils {
					margin: 2rem auto;
					text-align: center;
				}

				.moreinfo-lnk {
					margin: 2rem auto;
					display: block;
					float: none;
				}
			}

			&[data-module=favorites] {
				.list-format {

					.list-author {
						width: 30%;
					}

					.list-title {
		    			width: 58%;
					}

					.remove {

					}
				}
			}
		}
	}
}
/* $tablet-landspace-width: 1024px;
$tablet-portait-width: 768px;
$mobile-width: 480px;
$mobile-width-sm: 320px; */