    <div class="modal-arrow-container prev-page">
        {{#if prevId}}
            <div class="glyphicon glyphicon-chevron-left modal-arrow" id="prevArticle" data-prev-id="{{prevId}}" data-id="{{id}}"></div>
        {{/if}}
    </div>