    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
        {{#if data.title}}
        <div class="modal-title">{{{HBHTMLContent data.title}}}</div>
        {{/if}}
    </div>