    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
        <div class="modal-title">{{{HBTrim data.title 50}}}</div>
    </div>