        <div class="meta">
            {{#if data.tags}}
                <strong>{{tagLabel}}</strong>
                <span>{{{HBContentItemTags data}}}</span> 
            {{/if}}

            {{#if data.filters}}
                {{#each data.filters}}
                    <span>{{{HBDetailFilters this}}}</span>
                {{/each}}
            {{/if}}
        </div>