$icons: (
    sprite: (width: 181px, height: 155px, pngPath: '/images/svg_sprite.png', svgPath: '/images/svg_sprite.svg'),
    loading_spinner: (width: 84px, height: 84px, backgroundX: 0px, backgroundY: 0px),
    norton_logo: (width: 49px, height: 23px, backgroundX: -84px, backgroundY: -84px),
    playback: (width: 48px, height: 48px, backgroundX: -133px, backgroundY: -107px),
);