$icons: (
    sprite: (width: 133px, height: 107px, pngPath: '/images/svg_sprite.png', svgPath: '/images/svg_sprite.svg'),
    loading_spinner: (width: 84px, height: 84px, backgroundX: 0px, backgroundY: 0px),
    norton_logo: (width: 49px, height: 23px, backgroundX: -84px, backgroundY: -84px),
);