<div id="errorContainer" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:1000px;height:600px;">
        <div class="modal-content">
            <div class="modal-container">
                <div class="modal-header">
                    <h4 class="modal-title">Oops! Something went wrong!</h4>
                </div>
                <div class="modal-body">
                    <p>Our website is experiencing an unexpected error. Try refreshing the page.</p>

                </div>
            </div>
        </div>
    </div>

    <script>
        $("#modalPlaceholderError").trigger("click");
        $('.modal-backdrop').css("opacity", .9);
    </script>
</div>