<div class="filters-container">
    <div class="filter-item">
        {{#if cat}}
            <div class="filter-item-cat">{{cat_display}}</div>
        {{/if}}
        <div class="filter-item-name"  style="margin-left:10px;">
            <a href="#/filter/"><input type="checkbox" class="filter-checkbox" data-filter-name='{{name}}' data-filter-cat="{{cat}}"/></a>
            <span class="filter-name" style="color:#0073ea">{{name}}</span>

        </div>
    </div>
</div>