<div class="modal-container">
    <div class="modal-body">
    	<div class="border">
	        <img class="intro-bg" src="/images/intro_bg.jpg" />
	        <div class="modal-title">{{displayTitle}}</div>
	        <div class="modal-copy">{{{introPanelCopy}}}</div>
	        <div class="modal-links">
	        {{#each introPanelCalloutAction}}
	            <a href="{{action-link}}"><button type="button">{{actionText}}</button></a>
	        {{/each}}
	        </div>
        </div>
    </div>
</div>