<div class='navbar'>
    <nav class="nav">
        <div id="navFilters" class="filter"><span class="glyphicon glyphicon-adjust-alt rotate90"></span> <a href="#/favs/">FILTER</a></div>
        <div class="search">
            <input type="text" name="search" id="searchTextInput" placeholder="Search..." required>
            <a href="#">
                <span class="glyphicon glyphicon-search" id="searchButton"></span>
            </a>
        </div>
        <div id="navYourFavs" class="saved-items"><span class="glyphicon glyphicon-list-alt"></span> <a href="#/favs/" class="your-favs-link"><span id="yourFavsCtr">My Items (0)</span></a></div>
    </nav>
    <div class="results-bar">
        <div class="results">Showing <span id="perPage"></span> of <span id="nbrRecords"></span> Articles</div>
        <div class="sortby">
            <select id="sortArticles" name="sort">
                <option value="id">Sort By</option>
                <option value="title">Title of Work</option>
                <option value="authorLast">Author</option>
            </select>
        </div>
        <div class="toggle-view">
            <span class="glyphicon glyphicon-show-thumbnails icon-grid-view"></span>
            <span class="glyphicon glyphicon-list icon-list-view"></span>
        </div>

    </div>

</div>
