<div class="modal-container">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
		<div class="modal-title">
        	<span id="yourFavsTitle" class="your-favs-text-entry" contenteditable="true">Saved List</span>
    	</div>
    </div>
    <div class="modal-body"></div>
    
    {{#if hasContent}}
    <div class="download-favs">Download<span class="glyphicon glyphicon-download-alt"></div>
    {{/if}}
</div>