@import "../../bower_components/jquery-ui/themes/base/jquery-ui";
//@import "../../bower_components/foundation/scss/normalize";

// override bootstrap glyphicon variable
$bootstrap-sass-asset-helper: false;
$icon-font-path: if($bootstrap-sass-asset-helper, "/fonts/", "/fonts/") !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "vendor/codyhouse-sliding-panel";
@import "vendor/skeleton";

// custom css from here
@import "sprite/sprite_assets";
@import "custom";

// Modules
@import "modules/base";
@import "modules/header";

