@mixin vertical-align($position: relative, $top: 50%) {
	position: $position;
	top: $top;
	transform: translateY(-$top);
}

@mixin center($position: relative, $top: 50%, $left: 50%) {
	position: $position;
	top: $top;
	left: $left;
	transform: translate(-$left, -$top);
}

@mixin one-sided-shadow($offset-x: 0, $offset-y: 5px, $blur: 5px, $spread: -4px, $color: rgba(0, 0, 0, 0.4) ) {
	box-shadow: $offset-x $offset-y $blur $spread $color;
}

@mixin locked($position: relative, $top: $top-bar-height) {
	.stick & {
		position: $position;
		top: $top;
	}
}