$icons: (
    sprite: (width: 164px, height: 143px, pngPath: '../images/svg_sprite.png', svgPath: '../images/svg_sprite.svg'),
    ebook_icon: (width: 15px, height: 20px, backgroundX: 0px, backgroundY: 0px),
    loading_spinner: (width: 84px, height: 84px, backgroundX: -15px, backgroundY: -20px),
    norton_logo: (width: 49px, height: 23px, backgroundX: -99px, backgroundY: -104px),
    savelist-icon: (width: 16px, height: 16px, backgroundX: -148px, backgroundY: -127px),
);