@import "../mixins/utils";

$site-code: "essentialecon";
$bg-color: #474c50;
$fg-color: #fff;
$topbar-color: #913c30;

.#{$site-code} {

	div[data-type="iig-hero"] {
		width: 100%;
		height: 100%;
		background-color: $bg-color;
		
		.book-cover {
			margin: 6rem 2rem 0;
			display: block;
			background: url(/site_assets/#{$site-code}/book_cover.png) no-repeat;
			background-size: cover;
			width: 158px;
			height: 198px;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
		}
		.hero-title {
			display: block;
			margin: 4rem 2rem 2rem;
			background: url(/site_assets/#{$site-code}/hero_title.svg) no-repeat; 
			width: 573px;
			height: 74px;
		}
	}

	.header {
		.cover {
		}

		.top-bar {

			.bg {
				background-color: $topbar-color;
			}

			div {
				a {
					color: $fg-color;
				}
			}
			.signed-in,
			.glyphicon {
				color: $fg-color;
			}

			.norton-logo {
				color: $fg-color;
				svg {
					fill: currentColor;
				}
			}

			.header-title {
			}

		}
	}

}