@import "../mixins/utils";

$site-code: "psylife2";
$bg-color: #912428;
$fg-color: #fff;
$topbar-color: #de1f26;

.#{$site-code} {

	div[data-type="iig-hero"] {
		width: 100%;
		height: 100%;
		background: url(/site_assets/#{$site-code}/hero-bg.png) no-repeat;
		background-color: $bg-color;
		background-size: cover;

		.book-cover {
			margin: 7rem 2rem 0;
			display: block;
			background: url(/site_assets/#{$site-code}/book_cover.png) no-repeat;
			background-size: cover;
			width: 154px;
			height: 198px;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
		}
		.hero-title {
			display: block;
			margin: 3rem 5rem 3rem;
			background: url(/site_assets/#{$site-code}/hero_title.svg) no-repeat; 
			width: 321px;
			height: 73px;
		}
	}

	.header {
		.cover {
		}

		.top-bar {

			.bg {
				background: $topbar-color ;
	    		@include one-sided-shadow($offset-y: 1px);
				opacity: 0.9;
			}

			div {
				a {
					color: $fg-color;
				}
			}
			.signed-in {
				color: $fg-color;
			}

			.glyphicon {
			}

			.norton-logo {
				color: #fff;
				svg {
					fill: currentColor;
				}
			}

			.header-title {
			}

		}
	}

}