@import '../mixins/utils';

$site-code: "realworld5";
$bg-color: #393253;
$fg-color: #fff;
$topbar-color: #4c446d;

.#{$site-code} {

	div[data-type="iig-hero"] {
		width: 100%;
		height: 100%;
		background-color: $bg-color;

		.book-cover {
			margin: 7rem 2rem 0;
			display: block;
			background: url(/site_assets/#{$site-code}/book_cover.jpg) no-repeat;
			background-size: cover;
			width: 164px;
			height: 198px;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
		}
		.hero-title {
			display: block;
			margin: 3rem 5rem 3rem;
			background: url(/site_assets/#{$site-code}/hero_title.svg) no-repeat; 
			width: 321px;
			height: 73px;
		}
	}

	.header {
		.cover {
		}

		.top-bar {

			.bg {
				background: $topbar-color ;
	    		@include one-sided-shadow($offset-y: 1px);
				opacity: 0.9;
			}

			div {
				a {
					color: $fg-color;
				}
			}
			.signed-in {
				color: $fg-color;
			}

			.glyphicon {
				color: $fg-color;
			}

			.norton-logo {
				color: $fg-color;
				svg {
					fill: currentColor;
				}
			}

			.header-title {
			}

		}
	}

	/* use background color */
	.content-thumbnail .glyphicon {
		color: $bg-color;
		filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6))
	}

}