<div class="my-account {{hide}}">
    <span class="glyphicon glyphicon-user"></span>
    {{#if signedIn}}
        <span class="signed-in" icon-label">{{user}}</span>
    {{else}}
        <a class="sign-in" href="#" ><span icon-label">Sgin in</span></a>
    {{/if}}
</div>  