<!doctype html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>@@title</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <!-- build:icon -->
        <!-- endbuild -->

        <!-- css -->
        <!-- build:css -->
        <!-- endbuild -->

        @@include('../modules/typekit.html')
        @@include('../modules/ga.html')

        <!-- javascrsipt -->
        <!-- build:js -->
        <!-- endbuild -->
        
    </head>
    <body>