<div class="listview-head">
    <div class="content-type">Type</div>
    <div class="content-title">Title & Description</div>
    <div class="content-tags">Tags</div>
    <div class="savelist"></div>
</div>