<li class="grid-format" data-index={{allMeta.id}} data-item-id='{{allMeta.pname}}'>
    {{> HBContentThumbnail}}
    {{> HBContentType}}
    {{> HBContentTitle}}
    {{> HBContentAbstract}}
    {{> HBContentTags tagLimit=tagLimit}}
    {{> HBContentSavelist}}
</li>
