    <button data-type="iig-filters" data-close-filter-name="{{filterName}}" data-close-filter-cat="{{filterCat}}" class="selected-filters">
        <span  class="clear-filter glyphicon glyphicon-remove-2"></span>{{displayName}}
    </button>