 {{> HBHeaderHero}}
<div class="cover">
    <div class="top-bar">
        {{> HBHeaderBg}}
        {{> HBHeaderLogo }}
        {{> HBHeaderTitle }}

        {{> HBHeaderAccount }}
        {{> HBHeaderLinks }}
    </div>
</div>