{{> HBHeaderHeroNR}}
<div class="cover">
    <div class="top-bar">
        {{> HBHeaderLogo }}
        {{> HBHeaderTitle }}
        {{> HBHeaderOtherVersion}}
        {{> HBHeaderLinks }}
    </div>
    {{> HBHeaderTitleScreenNR}}
</div>