<div class="modal-container">
    {{> HBPageArrowPrev}}
    {{> HBPageHeader}}

    <div class="modal-body">
        {{> HBPageHeaderImage}}

        {{> HBPageUtils}}

        {{> HBPageIntroCopy}}

        {{> HBPageSections}}

        {{> HBPageMeta}}
    </div>
    
    {{> HBPageArrowNext}}
</div>