<div class="modal-container">
	<div class="modal-header">
	    <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
	</div>
	<div class="modal-body">
		<div class="loading-container anim">
			<div class="loading-graphic dark"></div>
			<div class="loading-copy">Loading, please wait</div>
		</div>
	</div>
</div>


