<div class="modal-container">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
        {{#if title}}
        <div class="modal-title">{{{HBTruncate title 60}}}</div>
        {{/if}}
    </div>
    <div class="modal-body">
    	{{> HBJWPlayerMarkup playerID="iig-player"}}

		<script>
		{{> HBJWPlayerScript playerID="iig-player"}}
		</script>
    </div>
</div>
