<div class='navbar'>
    <nav class="nav">
        {{> HBNavBarFilters}}
        {{> HBNavBarSearch}}
        {{> HBNavBarYourFavs}}
    </nav>
    <div class="results-bar full-screen off">
        {{> HBNavBarResult}}
        {{> HBNavBarSortBy}}
        {{> HBNavBarToggleView}}
    </div>
</div>
