<div class="modal-container">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove-2"></span></a>
		<div class="modal-title">
        	<span id="yourFavsTitle" class="your-favs-text-entry">{{title}}</span>
    	</div>
    </div>
    <div class="modal-body"></div>
</div>