<<<<<<< HEAD
<div class="download">
	<a href="{{downloads.src}}"><span class="glyphicon glyphicon-download-alt"></span></a>
</div>
=======
{{#if downloads.src}}
<div class="download">
	<a href="{{downloads.src}}"><span class="glyphicon glyphicon-download-alt"></span></a>
</div>
{{/if}}
>>>>>>> 4e73e5c776b24e1b321a6232911620eb46189d1a
