<div class="container">
    <!-- Header Section -->
    <div class="header">
        <div class="cover">
            <div class="top-bar">
                <div class="norton-logo"><img src="/app/images/norton-logo.png" alt=""></div>
                <a href="/"><h1>Norton Reader</h1></a>
                <div class="my-account"><a><span class="glyphicons glyphicons-user"></span><div class="icon-label">someone@somewhere.com</div></a></div>
            </div>
            <div class="title">Norton Reader</div>
        </div>
    </div>

    <div id="sticky-anchor"></div>

    <!-- Nav Section -->
    <div id="topNav"></div>

    <!-- Filter Section -->
    <div class="filter-panelx"></div>
    <!-- Detail Page Section -->
    <div id="detailPage" class="page-view-section"></div>

    <!-- Articles Grid/List Section -->
    <ul class="card" id="articlesContainer">
        <div id="articles" class="articles"></div>
    </ul>

    <!-- YourFavs Section -->
    <div class="your-favs-view-section">
        <div id="yourFavs" class="your-favs"></div>
    </div>

    <!-- Load More Section -->
    <div class="load-more-section">
        <button id="loadMore" class="loadmore">LOAD MORE</button>
    </div>

    <!-- Modal popup -->
    <div id="modalContainer"></div>
    <div class="modal-placeholder" id="modalPlaceholder" data-toggle="modal" data-target="#pageContainer"></div>

    <!-- Footer Section -->
    <div class="footer">
        Copyright &copy; W.W. Norton &amp; Company, Inc. 2015
    </div>
</div>