<div class="filters-container">
    <div id="selectedFilters" class="filters-selected"></div>
    <div class="filter-item">
        <span class="filter-item-cat">{{category}}</span>
        <span class="filter-item-name" data-filter-item-id='{{id}}'><a href="#/filter/">{{name}}</a></span>
    </div>
</div>