<div class='navbar'>
    <nav class="nav">
        <div id="navFilters" class="filter"><span class="glyphicons glyphicons-adjust-alt"></span> <span>FILTER</span></div>
        <div class="search">
            <input type="text" name="search" id="searchTextInput" placeholder="Search..." required>
            <a href="#">
                <span class="glyphicons glyphicons-search"></span>
            </a>
        </div>
        <div id="navYourFavs" class="saved-items"><span class="glyphicons glyphicons-list-alt"></span> <a href="#/favs/" class="your-favs-link"><span id="yourFavsCtr">My Items (0)</span></a></div>
    </nav>
    <div class="results-bar">
        <div class="results">Showing <span id="perPage"></span> of <span id="nbrRecords"></span> Articles</div>
        <div class="sortby">
            <select id="sortArticles" name="sort">
                <option value="id">Sort By</option>
                <option value="title">Title of Work</option>
                <option value="authorLast">Author</option>
            </select>
        </div>

        <div class="view">
            <span class="glyphicons glyphicons-th-large icon-grid-view"></span>
            <span class="glyphicons glyphicons-list icon-list-view" style=" opacity: 0.5;"></span>
        </div>

    </div>

</div>
