<div class="closeme"><a href="" id="closeFavs">Close this list</a></div>
<div class="your-favs-actions">
    <div class="your-favs-title">
        <span id="yourFavsTitle" class="your-favs-text-entry" contenteditable="true">Your List</span>
        <img src="/app/images/pencil_icon.png"/>
    </div>
    <div class="download-favs">Download</div>
</div>