<!doctype html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>@@title</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="/images/favicon.png">

        <link rel="stylesheet" href="css/app.css" />
        <script src="js/vendor/modernizr.js"></script>

        <script src="https://use.typekit.net/utw3esa.js"></script>
<script>
	try { Typekit.load({ async: true }); } catch(e){}
</script>
        <script src="js/bundle.min.js"></script>

        <!-- bower:js -->
        <!-- endbower -->
    </head>
    <body>